@import "tailwindcss";

@keyframes softUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-soft-up {
  animation: softUp 0.7s ease-out forwards;
}


@theme inline {
  --color-parent-orange: rgb(250,115,21);
  --color-parent-orange-hover: rgb(250,90,0);
  --color-parent-light: #FFF8F2;

  --font-body: Inter, sans-serif;
  --font-heading: Poppins, sans-serif;
}
